<div class="centered">
  <button type="button" class="margin btn btn-success btn-lg" ng-click="addCreature()">Add Creature</button>
  <button type="button" class="margin btn btn-success btn-lg" ng-click="createCustom()">Add Custom Creature</button>
  <button type="button" class="margin btn btn-success btn-lg" ng-click="addSeparator()">Add Separator</button>
</div>

<div>
  <table ng-if="creatures.length > 0" id="creatureTable">
    <thead>
      <tr>
        <th>Name</th>
        <th>Health</th>
        <th>Damage</th>
        <th>Initiative</th>
        <th>AC</th>
        <th>Attack</th>
        <th>Edit</th>
        <th>Info</th>
        <th>Remove</th>
        <th>Duplicate</th>
      </tr>
    </thead>
    <tbody ui-sortable="sortableOptions" ng-model="creatures">

      <tr style="height: 50px;" ng-repeat="creature in creatures track by $index">
        <td class="centered">
          {{creature.name}}
        </td>
        <td class="centered">
          <span ng-if="creature.health > 0" style="color: green;">{{creature.health}}</span>
          <span ng-if='!(creature.health > 0) && creature.tag != "hide"' style="color: red;">DEAD</span>
        </td>
        <td class="centered">
          {{creature.damage}}
        </td>
        <td class="centered">
          {{creature.initiative}}
        </td>
        <td class="centered">
          {{creature.AC}}
        </td>
        <td class="centered">
          <button ng-if='creature.tag != "hide"' type="button" class="margin btn btn-link btn-lg" ng-click="attack($index, creature)">
              <span class="glyphicon glyphicon-record" aria-hidden="true"></span>
          </button>
        </td>
        <td class="centered">
          <button ng-if='creature.tag != "hide"' type="button" class="margin btn btn-link btn-lg" ng-click="edit($index, creature)">
              <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
          </button>
        </td>
        <td class="centered">
          <button ng-if='creature.tag != "hide"' type="button" class="margin btn btn-link btn-lg" ng-click="info(creature)">
              <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
          </button>
        </td>
        <td class="centered">
          <button ng-if='creature.tag != "hide"' type="button" class="margin btn btn-link btn-lg" ng-click="remove($index)">
              <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
          </button>
        </td>
        <td class="centered">
          <button ng-if='creature.tag != "hide"' type="button" class="margin btn btn-link btn-lg" ng-click="duplicate($index)">
              <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
          </button>
        </td>
      </tr>

    </tbody>
  </table>
</div>

<!-- Custom creature modal -->
<script type="text/ng-template" id="custom-creation-modal.html">

  <div class="modal-header">
    <button type="button" class="close" ng-click="$ctrl.cancel()">&times;</button>
    <h4 class="modal-title">Add Custom Creature</h4>
  </div>

  <div class="modal-body">
    <div class="input-group">
      <span class="input-group-addon">Name</span>
      <input type="text" class="form-control" placeholder="The creature's name" ng-model="$ctrl.creatureName">
    </div>

    <div class="input-group">
      <span class="input-group-addon">Health</span>
      <input type="text" class="form-control" placeholder="The creature's maximum health" ng-model="$ctrl.creatureHealth">
    </div>

    <div class="input-group">
      <span class="input-group-addon">Damage</span>
      <input type="text" class="form-control" placeholder="The creature's attack damage" ng-model="$ctrl.creatureDamage">
    </div>

    <div class="input-group">
      <span class="input-group-addon">Initiative</span>
      <input type="text" class="form-control" placeholder="The creature's initiative" ng-model="$ctrl.creatureInitiative">
    </div>

    <div class="input-group">
      <span class="input-group-addon">AC</span>
      <input type="text" class="form-control" placeholder="The creature's armour class" ng-model="$ctrl.creatureAC">
    </div>

  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-success" ng-click="$ctrl.create()" ng-disabled="!$ctrl.isCreatureValid()">Create</button>
    <button type="button" class="btn btn-warning" ng-click="$ctrl.cancel()">Cancel</button>
  </div>

</script>

<!-- Edit creature modal -->
<script type="text/ng-template" id="edit-modal.html">

  <div class="modal-header">
    <button type="button" class="close" ng-click="$ctrl.cancel()">&times;</button>
    <h4 class="modal-title">Edit Creature</h4>
  </div>

  <div class="modal-body">
    <div class="input-group">
      <span class="input-group-addon">Name</span>
      <input type="text" class="form-control" placeholder="The creature's new name" ng-model="$ctrl.creature.name">
    </div>

    <div class="input-group">
      <span class="input-group-addon">Health</span>
      <input type="text" class="form-control" placeholder="The creature's new health" ng-model="$ctrl.creature.health">
    </div>

    <div class="input-group">
      <span class="input-group-addon">Damage</span>
      <input type="text" class="form-control" placeholder="The creature's new damage" ng-model="$ctrl.creature.damage">
    </div>

    <div class="input-group">
      <span class="input-group-addon">Initiative</span>
      <input type="text" class="form-control" placeholder="The creature's new initiative" ng-model="$ctrl.creature.initiative">
    </div>

    <div class="input-group">
      <span class="input-group-addon">AC</span>
      <input type="text" class="form-control" placeholder="The creature's new armour class" ng-model="$ctrl.creature.AC">
    </div>

  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-success" ng-click="$ctrl.save()" ng-disabled="!$ctrl.isEditValid()">Save</button>
    <button type="button" class="btn btn-warning" ng-click="$ctrl.cancel()">Cancel</button>
  </div>

</script>

<script type="text/ng-template" id="info-modal.html">

  <div class="modal-header">
    <button type="button" class="close" ng-click="$ctrl.cancel()">&times;</button>
    <h4 class="modal-title">Info</h4>
  </div>

  <div class="modal-body">
    <h4 style="margin-bottom: 0px">{{$ctrl.creature.name}}</h4>
    <i>{{$ctrl.creature.description}}, {{$ctrl.creature.alignment}}</i>
    <hr/>
    <b>Armor Class</b> {{$ctrl.creature.AC}} ({{$ctrl.creature.ACEquipment}})<br/>
    <b>Hit Points</b> {{$ctrl.creature.health}} ({{$ctrl.creature.healthDice}})<br/>
    <b>Speed</b> {{$ctrl.creature.speed}}
    <hr/>
    <table id="infoTable">
      <thead>
        <tr>
          <th>STR</th>
          <th>DEX</th>
          <th>CON</th>
          <th>INT</th>
          <th>WIS</th>
          <th>CHA</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="centered">{{$ctrl.creature.stats[0]}}</td>
          <td class="centered">{{$ctrl.creature.stats[1]}}</td>
          <td class="centered">{{$ctrl.creature.stats[2]}}</td>
          <td class="centered">{{$ctrl.creature.stats[3]}}</td>
          <td class="centered">{{$ctrl.creature.stats[4]}}</td>
          <td class="centered">{{$ctrl.creature.stats[5]}}</td>
        </tr>
      </tbody>
    </table>
    <hr/>
    <b>Skills</b> {{$ctrl.creature.skills}}<br/>
    <b>Senses</b> {{$ctrl.creature.senses}}<br/>
    <b>Languages</b> {{$ctrl.creatures.languages}}<br/>
    <b>Challenge</b> {{$ctrl.creature.challenge}} ({{$ctrl.creature.xp}} XP)<br/>
    <hr/>
    <div style="margin-top: 10px; margin-bottom: 10px;" ng-repeat="ability in $ctrl.creature.abilities">
        <i><b>{{ability.title}}</b></i> {{ability.content}}<br/>
    </div>
    <h4>Actions</h4>
    <hr/>
    <div ng-repeat="action in $ctrl.creature.actions">
     <i><b>{{action.title}}</b></i> <i> {{action.type}}: </i> {{action.descr}}
      <br/><i>Hit: </i>{{action.damage}}
    </div>

  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-success" ng-click="$ctrl.cancel()">Close</button>
  </div>

</script>

<script type="text/ng-template" id="creature-creation-modal.html">

  <div class="modal-header">
    <button type="button" class="close" ng-click="$ctrl.cancel()">&times;</button>
    <h4 class="modal-title">Add Creature</h4>
  </div>

  <div class="modal-body">
    <div class="input-group">
      <span class="input-group-addon">Creature</span>
      <!--<input type="text" class="form-control" placeholder="The creature's name" ng-model="$ctrl.creatureName">-->
      <div angucomplete-alt placeholder="The creature's name" maxlength="50" pause="100" selected-object="$ctrl.selectedCreature"
        local-data="$ctrl.gameCreatures" search-fields="name" title-field="name" minlength="1" input-class="input form-control"
        match-class="highlight" clear-selected="true">
      </div>
    </div>

    <table style='margin-top: 16px' ng-if="$ctrl.creatures.length > 0">
      <thead>
        <tr>
          <th>Name</th>
          <th>Amount</th>
          <th>Challenge</th>
          <th>Duplicate</th>
          <th>Duplicate Once</th>
        </tr>
      </thead>

      <tbody>
        <tr style="height: 50px" ng-repeat="creature in $ctrl.creatures">
          <td class="centered">{{creature.name}}</td>
          <td class="centered">{{$ctrl.amountOf(creature)}}</td>
          <td class="centered">{{creature.challenge}}</td>
          <td class="centered">
            <button ng-if='creature.tag != "hide"' type="button" class="margin btn btn-link btn-lg" ng-click="$ctrl.duplicate($index, creature)">
              <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
            </button>
          </td>
          <td class="centered">
            <button ng-if='creature.tag != "hide"' type="button" class="margin btn btn-link btn-lg" ng-click="$ctrl.duplicateOnce($index)">
              <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
            </button>
          </td>
        </tr>
      </tbody>
    </table>

  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-success" ng-click="$ctrl.confirm()" ng-disabled="!$ctrl.canConfirm()">Confirm</button>
    <button type="button" class="btn btn-warning" ng-click="$ctrl.cancel()">Cancel</button>
  </div>

</script>

<!-- Deal damage (attack) modal -->
<script type="text/ng-template" id="attack-modal.html">

  <div class="modal-header">
    <button type="button" class="close" ng-click="$ctrl.cancel()">&times;</button>
    <h4 class="modal-title">Attack Creature: {{$ctrl.creature.name}}</h4>
    <div>
      Current Health: {{$ctrl.creature.health}}<br/> Health after attack: {{$ctrl.healthAfterAttack()}}<br/>
      <span ng-if="$ctrl.attackEnabled() && ($ctrl.healthAfterAttack()<=0)" style="color: red;">DIES</span>
      <span ng-if="$ctrl.attackEnabled() && ($ctrl.healthAfterAttack()>0)" style="color: green;">SURVIVES</span>
    </div>
  </div>

  <div class="modal-body">
    <div class="input-group">
      <span class="input-group-addon">Damage</span>
      <input type="text" class="form-control" placeholder="The damage to deal to the creature" ng-model="$ctrl.attackDamage" />
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-success" ng-click="$ctrl.attack()" ng-disabled="!$ctrl.attackEnabled()">Attack</button>
    <button type="button" class="btn btn-warning" ng-click="$ctrl.cancel()">Cancel</button>
  </div>

</script>

<script type="text/ng-template" id="duplicate-create-modal.html">

  <div class="modal-header">
    <button type="button" class="close" ng-click="$ctrl.cancel()">&times;</button>
    <h4 class="modal-title">Duplicate {{$ctrl.creature.name}}</h4>
  </div>

  <div class="modal-body">
    Amount now: {{$ctrl.creature.amount}}<br>
    Amount after duplication: {{$ctrl.creature.amount + $ctrl.amountAfterDuplication()}}
    <div class="input-group">
      <span class="input-group-addon">Creature</span>
        <input type="text" class="form-control" placeholder="How many additional copies you would like to add" ng-model="$ctrl.numberToAdd">
      </div>
    </div>

  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-success" ng-click="$ctrl.duplicate()" ng-disabled="!$ctrl.canDuplicate()">Duplicate</button>
    <button type="button" class="btn btn-warning" ng-click="$ctrl.cancel()">Cancel</button>
  </div>

</script>

</body>

</html>

<style>

  .ng-binding {
    margin-bottom: 5px;
  }

  h3, h4 {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  hr {
    margin: 4px;
  }

  .angucomplete-dropdown {
    top: 40px;
    overflow-y: auto;
    max-height: 200px;
  }

  .centered {
    text-align: center;
    margin: auto;
  }

  .margin {
    margin-top: 0.3%;
    margin-bottom: 0.6%;
  }

  .input-group-addon {
    width: 100px;
  }

  .input-group {
    width: 100%;
  }

  table {
    table-layout: fixed;
    empty-cells: show;
    margin: 0 auto;
  }

  th,
  td {
    padding: 5px;
    border-bottom: 1px solid #ddd;
  }

  td {
    width: 10.6%;
    height: 50px;
  }

  th {
    background-color: #4CAF50;
    color: white;
    vertical-align: middle;
    text-align: center;
  }

  tr {
    line-height: 14px;
  }

  tr:nth-child(even) {
    background-color: #f2f2f2
  }
</style>